<ul class="list-group list-group-flush">
  <% wikis.forEach( ( wiki ) => { -%>
    <li class="list-group-item px-0">
      <article>
        <header class="navbar p-0">
          <h1 class="h5 px-0 text-truncate">
            <a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a>
          </h1>
        </header>
        <p class="text-truncate"><%= wiki.getBodyPreview() %></p>
        <footer>
          <p class="mb-0 text-muted text-truncate">
            <small>
              <span class="badge badge-secondary"><%= wiki.getPrivacy() %></span>
              Last update: <%= wiki.updatedAt.toLocaleString() %>
            </small>
          </p>
        </footer>
      </article>
    </li>
  <% } ); -%>
</ul>
