<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "../includes/head-start.ejs",
      { docTitle: "Blocipedia | Wiki Dashboard" }
    ); -%>
  </head>
  <body>
    <%- include( "../includes/navbar.ejs" ); -%>
    <main class="container">
      <%- include( "../includes/messages.ejs" ); -%>

      <h1><%= channel %></h1>

      <% if ( showNew ) { -%>
        <a href="/wikis/new" class="btn btn-outline-primary">New Wiki</a>
      <% } -%>

      <%- include( "./includes/list.ejs" ); -%>

    </main>
    <%- include( "../includes/body-end.ejs" ); -%>
  </body>
</html>
