<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "../includes/head-start.ejs",
      { docTitle: "Blocipedia | Profile" }
    ); -%>
  </head>
  <body>
    <%- include( "../includes/navbar.ejs" ); -%>
    <main class="container">
      <%- include( "../includes/messages.ejs" ); -%>

      <h1><%= user.username %> <span class="badge badge-secondary"><%= user.role %></span></h1>
      <p class="text-muted"><%= user.email %></p>

      <% if ( showUpgrade ) { -%>
        <form method="POST" action="/users/upgrade-plan">
          <input type="hidden" name="plan" value="premium">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= process.env.STRIPE_API_KEY %>"
            data-name="Blocipedia"
            data-description="Premium Plan"
            data-amount="1499"
            data-locale="auto"
            data-zip-code="true"
            data-email="<%= user.email %>"
            data-label="Upgrade to Premium"
            data-allow-remember-me="false"
          ></script>
        </form>
      <% } -%>
      <% if ( showDowngrade ) { -%>
        <form method="POST" action="/users/downgrade-plan">
          <input type="hidden" name="plan" value="standard">
          <button type="submit" class="btn btn-primary">Downgrade to Standard</button>
        </form>
      <% } -%>

      <hr>

    </main>
    <%- include( "../includes/body-end.ejs" ); -%>
  </body>
</html>
